// PARTICLE JS :

canvas{
    display:block;
    top:0;
  }

#particles-js {
    background-color: var(--bodyBackgroundColor);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#particles-js .particles-js-canvas-el {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: appear 1.4s 1;
    animation: appear 1.4s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position:absolute;
    
}

@keyframes appear {
    0% {
       -ms-transform: scale(0);
       -webkit-transform: scale(0);
       transform: scale(0);
       opacity: 0;
   }
     100% {
       -ms-transform: scale(1);
       -webkit-transform: scale(1);
       transform: scale(1);
       opacity: 1;
   }
}

// NAVBAR + LOGO

.navbar {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    grid-column-start: 1;
    margin-right: 80px;
    float: right;
  
    li {
      display: inline-block;
      margin-left: 30px;
      position: relative;
    }
  
    a {
      text-decoration: none;
      display: inline-block;
      color: #444;
  
      &:hover {
        color: black;
        font-weight: 500;
      }
  
      &::before {
        content: '';
        display: block;
        height: 5px;
        width: 0%;
        background-color: #444;
        position: absolute;
        transition: all ease-in-out 250ms;
      }
  
      &:hover::before {
        width: 100%;
      }
    }
}
  
#logo {
    grid-column-start: 0;
    text-align: left;
    padding-left: 5%;
  
    a {
      color: black;
      font-size: 32px;
      font-weight: 700;
      font-family: 'Poppins';
      text-decoration: none;
    }
}
