@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--bodyBackgroundColor);
  font-family: "Raleway";
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ffc107;
}

#bodyCV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-align: left;
}

header {
  background: var(--headerColor);
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header.premierePage {
  background-color: #ffc10783;
}

#presentation {
  padding-left: 8%;
  padding-top: 2%;
  color: white;
  font-weight: 300;
  font-size: 56px;
  z-index: -9;
  background-color: transparent;
  width: auto;
  position: absolute;
}

#presentation p {
  margin: 0;
  padding: 8px;
}

#typewriter {
  color: var(--headerColor);
}

p#etudiant {
  padding-top: 40px;
  padding-left: 130px;
}

.importantText {
  color: var(--headerColor);
  font-weight: 800;
}

.triangleInv {
  --color: rgba(255, 193, 7, 1);
  -webkit-text-stroke: 12px var(--color);
  font-size: 200px;
  color: transparent;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 20px;
  z-index: -10;
}

.triangle {
  --color: rgba(255, 193, 7, 1);
  -webkit-text-stroke: 12px var(--color);
  font-size: 200px;
  color: transparent;
  position: absolute;
  z-index: -10;
  margin: 0;
  bottom: 0px;
  right: 10px;
}

#aPropos {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  border: 2px solid;
  border-color: rgba(61, 61, 61, 0.507);
  padding: 8px 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#aPropos:hover {
  background-color: rgba(179, 126, 27, 0.158);
  border-color: rgba(194, 132, 18, 0.247);
}

#aPropos:hover #arrowForward {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#lienAPropos {
  color: white;
  text-decoration: none;
}

#arrowForward {
  color: var(--headerColor);
  padding-left: 8px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18pt;
}

.page {
  height: 100vh;
}

#titreProjets {
  margin: 10% 15%;
  margin-bottom: 0;
  position: relative;
}

#titreProjets::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  position: absolute;
  background: var(--headerColor);
  top: 50%;
  left: 0;
  z-index: -2;
}

#titreProjetsSpan {
  background: var(--bodyBackgroundColor);
}

#projets {
  margin: 2% 22%;
}

.projetG {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.projetG a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / -1 /7;
  position: relative;
  z-index: -1;
  -webkit-box-shadow: 0 10px 30px -15px black;
          box-shadow: 0 10px 30px -15px black;
  border-radius: 4px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.projetG .photoProjetG {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 4px;
}

.projetG .texteProjetG {
  grid-area: 1 / 6 / -1 / -1;
  right: 0;
  text-align: right;
}

.projetG h3.titreProjetG {
  font-size: 28px;
  font-family: "Poppins";
  color: var(--headerColor);
}

.projetG .descriptionProjetG {
  background-color: #333333;
  border-radius: 4px;
  -webkit-box-shadow: var(--bodyBackgroundColor) 0px 10.0793px 30px -15px;
          box-shadow: var(--bodyBackgroundColor) 0px 10.0793px 30px -15px;
  padding: 25px;
  font-family: "Lato";
}

.projetG ul.listeCompetencesG {
  font-family: "Courier New", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  margin: 25px 0px 10px;
  list-style: none;
  direction: rtl;
  padding-right: 0;
}

.projetG ul.listeCompetencesG li {
  margin-left: 10px;
}

.projetG .liensProjetG a {
  text-align: right;
  float: right;
  color: ghostwhite;
  font-size: 30px;
  z-index: 2;
}

.projetD {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.projetD a {
  grid-area: 1 / 7 / -1 / -1;
  position: relative;
  z-index: -1;
  -webkit-box-shadow: 0 10px 30px -15px black;
          box-shadow: 0 10px 30px -15px black;
  border-radius: 4px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.projetD .photoProjetD {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 4px;
}

.projetD .texteProjetD {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / -1 / 8;
  right: 0;
  text-align: left;
}

.projetD h3.titreProjetD {
  font-size: 28px;
  font-family: "Poppins";
  color: var(--headerColor);
}

.projetD .descriptionProjetD {
  background-color: #333333;
  border-radius: 4px;
  -webkit-box-shadow: var(--bodyBackgroundColor) 0px 10.0793px 30px -15px;
          box-shadow: var(--bodyBackgroundColor) 0px 10.0793px 30px -15px;
  padding: 25px;
  font-family: "Lato";
}

.projetD ul.listeCompetencesD {
  font-family: "Courier New", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  margin: 25px 0px 10px;
  padding-left: 0;
  list-style: none;
}

.projetD ul.listeCompetencesD li {
  margin-right: 10px;
}

.projetD .liensProjetD a {
  text-align: left;
  color: ghostwhite;
  font-size: 30px;
  z-index: 2;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    width: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    width: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

/* PAGE CV */
/* PAGE CV */
#CV {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10fr)[10];
      grid-template-columns: repeat(10, 10fr);
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
  background-color: rgba(49, 49, 49, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: "Lato";
  font-size: 20px;
}

.categorie {
  color: var(--headerColor);
  font-size: 40px;
  font-weight: 600;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.datesVerticales {
  border-right: 2px solid var(--headerColor);
  margin-top: 40%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 10px;
  position: relative;
}

.datesVerticales .dateFin {
  top: 0;
  position: absolute;
}

.datesVerticales .dateDebut {
  bottom: 0;
  position: absolute;
}

#formation {
  margin-top: 1%;
  margin-left: 5%;
  -webkit-animation: bubbleTextAppear 2s forwards cubic-bezier(0.58, -0.38, 0.83, 0.67);
          animation: bubbleTextAppear 2s forwards cubic-bezier(0.58, -0.38, 0.83, 0.67);
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#formation:hover {
  background-color: #3d3d3d;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#formation:hover .categorie {
  padding-left: 1%;
}

#formation #poly,
#formation #emse,
#formation #prepa,
#formation #lycee {
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#formation #poly.hoverstate,
#formation #emse.hoverstate,
#formation #prepa.hoverstate,
#formation #lycee.hoverstate {
  -webkit-box-shadow: 0 0 10px rgba(49, 49, 49, 0.8);
          box-shadow: 0 0 10px rgba(49, 49, 49, 0.8);
}

#formation .marker {
  color: var(--headerColor);
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  text-align: right;
  padding-right: 20%;
}

#formation .formationPart {
  -ms-grid-column: 7;
  -ms-grid-column-span: 73;
  grid-column: 7/80;
  font-size: 22px;
}

#formation .formationPart ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 2%;
  font-size: 16px;
}

#formation .formationPart p {
  margin-left: 0;
  padding-left: 2%;
  font-size: 16px;
}

#formation #location {
  font-size: 15px;
  -ms-grid-column: 80;
  -ms-grid-column-span: 20;
  grid-column: 80/100;
}

#formation .etablissement {
  display: inline-block;
  font-style: italic;
  font-size: 16px;
  color: var(--headerColor);
}

#formation .fas {
  color: var(--headerColor);
  font-size: 150%;
  padding-right: 2%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#formation .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#carteInteractive {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  margin: auto;
  width: 95%;
  display: table;
  position: relative;
  font-size: 1.5vw;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

#carteInteractive.dansFormation {
  -ms-grid-row: 1;
  grid-row: 1;
}

#carteInteractive.dansProfessionnel {
  -ms-grid-row: 2;
  grid-row: 2;
}

#carteInteractive #france {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#carteInteractive #france.inactive {
  opacity: 0;
}

#carteInteractive #canada {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

#carteInteractive #canada.active {
  opacity: 1;
}

#carteInteractive #carteFrance {
  width: 100%;
  position: relative;
  display: block;
}

#carteInteractive #carteCanada {
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
}

#carteInteractive #Mtl {
  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 55%;
  right: 20%;
}

#carteInteractive #Mtl.hoverstate {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: var(--headerColor);
}

#carteInteractive #BJ {
  position: absolute;
  top: 48%;
  right: 30%;
  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#carteInteractive #BJ.hoverstate {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: var(--headerColor);
}

#carteInteractive #StEtienne {
  position: absolute;
  top: 45%;
  right: 40%;
  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#carteInteractive #StEtienne.hoverstate {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: var(--headerColor);
}

#carteInteractive #Voiron {
  position: absolute;
  top: 50%;
  right: 26%;
  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#carteInteractive #Voiron.hoverstate {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: var(--headerColor);
}

#experiences {
  margin-top: 8%;
  margin-left: 5%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: bubbleTextAppear2 2s forwards cubic-bezier(0.58, -0.38, 0.83, 0.67);
          animation: bubbleTextAppear2 2s forwards cubic-bezier(0.58, -0.38, 0.83, 0.67);
}

#experiences:hover {
  background-color: #3d3d3d;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#experiences:hover .categorie {
  padding-left: 1%;
}

#experiences .marker {
  color: var(--headerColor);
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  text-align: right;
  padding-right: 20%;
}

#experiences .formationPart {
  -ms-grid-column: 7;
  -ms-grid-column-span: 73;
  grid-column: 7/80;
  font-size: 22px;
}

#experiences .formationPart ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 2%;
  font-size: 16px;
}

#experiences .formationPart p {
  margin-left: 0;
  padding-left: 2%;
  font-size: 16px;
}

#experiences .etablissement {
  display: inline-block;
  font-style: italic;
  font-size: 16px;
  color: var(--headerColor);
}

#experiences .fas {
  color: var(--headerColor);
  font-size: 150%;
  padding-right: 2%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#experiences .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#experiences #location {
  font-size: 15px;
  -ms-grid-column: 80;
  -ms-grid-column-span: 20;
  grid-column: 80/100;
}

#experiences #CET,
#experiences #porcher,
#experiences #ostria {
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#experiences #CET:hover,
#experiences #porcher:hover,
#experiences #ostria:hover {
  -webkit-box-shadow: 0 0 10px rgba(49, 49, 49, 0.8);
          box-shadow: 0 0 10px rgba(49, 49, 49, 0.8);
}

#assos {
  margin-top: 8%;
  margin-left: 5%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: bubbleTextAppear2 2s forwards cubic-bezier(0.58, -0.38, 0.83, 0.67);
          animation: bubbleTextAppear2 2s forwards cubic-bezier(0.58, -0.38, 0.83, 0.67);
}

#assos:hover {
  background-color: #3d3d3d;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#assos:hover .categorie {
  padding-left: 1%;
}

#assos .marker {
  color: var(--headerColor);
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  text-align: right;
  padding-right: 20%;
}

#assos .formationPart {
  -ms-grid-column: 7;
  -ms-grid-column-span: 73;
  grid-column: 7/80;
  font-size: 22px;
}

#assos .formationPart ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 2%;
  font-size: 16px;
}

#assos .formationPart p {
  margin-left: 0;
  padding-left: 2%;
  font-size: 16px;
}

#assos .etablissement {
  display: inline-block;
  font-style: italic;
  font-size: 16px;
  color: var(--headerColor);
}

#assos .fas {
  color: var(--headerColor);
  font-size: 150%;
  padding-right: 2%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#assos .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#assos #location {
  font-size: 15px;
  -ms-grid-column: 80;
  -ms-grid-column-span: 20;
  grid-column: 80/100;
}

#assos #BDE,
#assos #MEP,
#assos #astronoMines {
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#assos #BDE:hover,
#assos #MEP:hover,
#assos #astronoMines:hover {
  -webkit-box-shadow: 0 0 10px rgba(49, 49, 49, 0.8);
          box-shadow: 0 0 10px rgba(49, 49, 49, 0.8);
}

@-webkit-keyframes bubbleTextAppear {
  from {
    -webkit-clip-path: circle(20% at 10% 10%);
            clip-path: circle(20% at 10% 10%);
  }
  to {
    -webkit-clip-path: circle(200% at 0% 0%);
            clip-path: circle(200% at 0% 0%);
  }
}

@keyframes bubbleTextAppear {
  from {
    -webkit-clip-path: circle(20% at 10% 10%);
            clip-path: circle(20% at 10% 10%);
  }
  to {
    -webkit-clip-path: circle(200% at 0% 0%);
            clip-path: circle(200% at 0% 0%);
  }
}

@-webkit-keyframes bubbleTextAppear2 {
  from {
    -webkit-clip-path: circle(20% at 80% 80%);
            clip-path: circle(20% at 80% 80%);
  }
  to {
    -webkit-clip-path: circle(200% at 0% 0%);
            clip-path: circle(200% at 0% 0%);
  }
}

@keyframes bubbleTextAppear2 {
  from {
    -webkit-clip-path: circle(20% at 80% 80%);
            clip-path: circle(20% at 80% 80%);
  }
  to {
    -webkit-clip-path: circle(200% at 0% 0%);
            clip-path: circle(200% at 0% 0%);
  }
}

#scene {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow-x: clip;
}

.triangleParralax {
  position: absolute;
  margin-top: 80vh;
  margin-left: 40vw;
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  background-color: var(--headerColor);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangleParralax::after {
  content: "";
  width: 80%;
  height: 0;
  padding-bottom: 85%;
  margin-left: 10%;
  margin-top: 10%;
  display: inline-block;
  background-color: var(--bodyBackgroundColor);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.rhombus {
  position: absolute;
  margin-top: 6vh;
  margin-left: 3vh;
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  background-color: var(--headerColor);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rhombus::after {
  content: "";
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  margin-left: 10%;
  margin-top: 10%;
  display: inline-block;
  background-color: var(--bodyBackgroundColor);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.pentagon {
  position: absolute;
  margin-top: 30vh;
  margin-left: 80vw;
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  background-color: var(--headerColor);
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.pentagon::after {
  content: "";
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  margin-left: 10%;
  margin-top: 10%;
  display: inline-block;
  background-color: var(--bodyBackgroundColor);
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.hexagon {
  position: absolute;
  margin-top: 100vh;
  margin-left: 50vw;
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  background-color: var(--headerColor);
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.hexagon::after {
  content: "";
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  margin-left: 10%;
  margin-top: 10%;
  display: inline-block;
  background-color: var(--bodyBackgroundColor);
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

#grillePathfinding {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-width), 1fr);
  -ms-grid-rows: (1fr)[var];
      grid-template-rows: repeat(var(--grid-heigth), 1fr);
  overflow: hidden;
}

/* pour faire des carrés */
.grid-item::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#clickMe {
  position: absolute;
  background-color: white;
  z-index: 40;
  top: 40px;
  color: red;
}

:root {
  --headerColor: #ffc107;
  --bodyBackgroundColor: #262626;
}

canvas {
  display: block;
  top: 0;
}

#particles-js {
  background-color: var(--bodyBackgroundColor);
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js .particles-js-canvas-el {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: appear 1.4s 1;
  animation: appear 1.4s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.navbar {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  -ms-grid-column: 1;
      grid-column-start: 1;
  margin-right: 80px;
  float: right;
}

.navbar li {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
  color: #444;
}

.navbar a:hover {
  color: black;
  font-weight: 500;
}

.navbar a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;
  position: absolute;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.navbar a:hover::before {
  width: 100%;
}

#logo {
  -ms-grid-column: 0;
      grid-column-start: 0;
  text-align: left;
  padding-left: 5%;
}

#logo a {
  color: black;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Poppins';
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */