#grillePathfinding {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(var(--grid-width), 1fr);
    grid-template-rows: repeat(var(--grid-heigth), 1fr);
    overflow: hidden;
}

/* pour faire des carrés */
.grid-item::before {
    content: "";
    display: block;
    padding-top: 100%;
}
